@import '~/assets/styles/configs.scss';

.DatePicker {
  display: flex;
  flex-direction: column;

  button {
    height: 100%;
    letter-spacing: -0.02em;

    img {
      transition: all 0.2s ease-out;
      width: 0.9rem;
    }

    &:active {
      img {
        transform: scale(0.8);
      }
    }
  }

  .back {
    background: $color_light_hard;
    width: 6rem;

    img {
      margin-left: -0.3rem;
    }

    &:disabled {
      background: $color_light;

      img {
        opacity: 0.3;
      }
    }
  }

  .forward {
    background: $color_light_hard;
    transform: rotate(180deg);
    width: 6rem;

    img {
      margin-right: 0.3rem;
    }
  }

  .pickerDisplay {
    flex-flow: column;
    line-height: 1rem;
    position: relative;
    width: calc(100% - 12rem);

    &:focus {
      box-shadow: inset 0 0 0.5vh rgba($color_primary_soft, 0.15);
    }

    p {
      font-size: 1.9rem;
      line-height: 1.33em;
      text-transform: capitalize;

      small {
        font-size: 0.7em;
        font-weight: normal;
        line-height: 0.7em;
      }
    }
  }

  .innerHolder {
    align-items: center;
    border: $border;
    border-radius: $border_radius_md;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    margin-top: 0.5vh;
    position: relative;
    width: 100%;
  }

  .picker {
    animation: fade 0.25s ease-in-out;
    animation-iteration-count: 1;
    background: $color_light_soft;
    border: $border;
    border-radius: $border_radius_md;
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 0.2rem);
    z-index: 2;

    .row {
      height: 6rem;

      .back,
      .forward {
        background: transparent;
      }

      .pickerDisplay {
        cursor: default;

        p {
          color: $color_primary_soft;
        }
      }
    }

    ul {
      box-shadow: 0 0.1rem 0.3rem rgba(black, 0.1);
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 2rem 2.5rem;
      z-index: 1;

      li {
        border-radius: 100px;
        cursor: pointer;
        padding: 0.75rem 0;
        text-align: center;
        transition: all 0.15s ease-in-out;
        user-select: none;
        width: 33.3%;

        &:hover {
          background: $color_primary;

          p {
            color: $color_light_soft;
          }
        }

        &:active {
          background: $color_primary_soft;
          color: $color_light_soft;

          p {
            color: $color_light_soft;
          }
        }
      }

      .disabled {
        cursor: default;

        p {
          color: $color_dark_soft;
        }

        &:hover {
          background: inherit;

          p {
            color: $color_dark_soft;
          }
        }
      }

      .current {
        background: $color_primary_soft;

        p {
          color: $color_light_soft;
        }
      }
    }
  }
}

@media all and (min-width: 260px) and (max-width: 600px) and (orientation: portrait) {

  .DatePicker {
    label {
      font-size: 1.8rem;
    }

    .pickerDisplay {
      p {
        font-size: 2.3rem;
        line-height: 1.2em;
      }
    }

    .picker {
      ul {
        li {
          padding: 1rem 0;
        }
      }
    }
  }
}
