@import '~/assets/styles/configs.scss';

.SavingGoalPlanSimulator {
  width: 62rem;

  h3 {
    color: $color_primary;
    font-weight: 400;
    line-height: 1em;
    padding: 4rem 0;
    text-align: center;

    strong {
      font-weight: bold;
    }
  }

  .goalPlanCalculator {
    background-color: $color_light_soft;
    border-radius: $border_radius_lg;
    border: $border;
    padding: $padding_lg;
    margin-bottom: 4rem;

    .heading {
      margin-bottom: $padding_lg;

      .IconHouse {
        height: auto;
        margin-bottom: 0.5rem;
        width: 3.6rem;
      }

      h1 {
        font-size: 3.2rem;
        margin-bottom: 0.5rem;
      }
    }

    .inputs {
      justify-content: space-between;
      width: 100%;

      & .Input {
        width: 47.5%;
      }

      & .DatePicker {
        width: 47.5%;
      }
    }

    .summary {
      align-items: center;
      border: $border;
      border-radius: $border_radius_md;
      box-shadow: 0 0.15rem 0.6rem rgba($color_dark_hard, 0.05);
      margin: $padding_md 0;

      :nth-child(1).row {
        align-items: center;
        justify-content: space-between;
        padding: $padding_lg;
      }

      .label {
        font-size: 1.8rem;
        font-weight: 500;
      }

      .amount {
        color: $color_primary_soft;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: -0.04em;

        strong {
          font-weight: 500;
        }
      }

      :nth-child(2).row {
        padding: 2rem $padding_lg;
        background: $color_light;
        border-radius: 0 0 $border_radius_md $border_radius_md;
      }

      .details {
        p {
          font-size: 1.4rem;

          strong {
            font-weight: 600;
          }
        }
      }
    }

    .Button {
      margin-bottom: 1rem;
      width: 80%;
    }
  }
}

@media all and (min-width: 260px) and (max-width: 600px) and (orientation: portrait) {
  .SavingGoalPlanSimulator {
    align-self: flex-end;
    height: 100%;
    width: 100%;

    .goalPlanCalculator {
      border: 0;
      border-radius: $border_radius_lg_mob $border_radius_lg_mob 0 0;
      box-shadow: 0 0.6rem 2.4rem rgba($color_dark_hard, 0.2);
      height: -webkit-fill-available;
      // height: calc(100% - 10rem);
      padding: $padding_lg_mob;
      margin-bottom: 0;

      .heading {
        margin-bottom: $padding_md_mob;
      }

      .inputs {
        & .Input {
          width: 100%;
          margin-bottom: $padding_md_mob;
        }

        & .DatePicker {
          width: 100%;
        }
      }

      .summary {
        border-radius: $border_radius_md;
        margin: $padding_md_mob 0;

        :nth-child(1).row {
          padding: $padding_md_mob;
        }

        .label {
          span {
            display: none;
          }
        }

        .amount {
          font-size: 3.2rem;
        }

        :nth-child(2).row {
          padding: $padding_md_mob;
          border-radius: 0 0 $border_radius_md $border_radius_md;
        }

        .details {
          p {
            font-size: 1.3rem;
          }
        }
      }

      .Button {
        margin-bottom: $padding_lg_mob;
        width: 100%;
      }
    }
  }
}
