@import '~/assets/styles/configs.scss';

.wrapper {
  align-items: center;
  display: flex;
  height: calc((100% - #{$logo_height}) - 3.5rem);
  justify-content: center;
}

@media all and (min-width: 260px) and (max-width: 600px) and (orientation: portrait) {
  .wrapper {
    height: calc(100vh - 6.5rem);
    overflow-y: overlay;
  }
}

@media all and (min-height: 0px) and (max-height: 450px) and (orientation: landscape) {
  .wrapper {
    align-items: flex-start;
    height: calc(100vh - 6.5rem);
    overflow-y: overlay;
  }
}
