@import '~/assets/styles/configs.scss';

.Button {
  background: $color_primary;
  border-radius: 100rem;
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;

  &:hover {
    background: $color_primary_soft;
    box-shadow: 0 1rem 3rem rgba($color_primary, 0.3);
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }

  &:disabled {
    background: transparent;
    color: $color_light_hard;
    cursor: default;

    &:hover {
      background: inherit;
      box-shadow: none;
      transform: none;
    }
  }
}
