@import '~/assets/styles/configs.scss';

.Header {
  align-items: center;
  background-color: $color_light_soft;
  display: flex;
  justify-content: space-between;
  padding: 2rem $padding_md 1.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  svg {
    height: $logo_height;
  }

  button {
    opacity: 0.25;
    transform: rotate(-90deg);
    transition: all $time_moderate $cubic;

    &:hover {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}

@media all and (min-width: 260px) and (max-width: 600px) and (orientation: portrait) {

}
